.user-search {
    overflow: hidden;
    margin: 0 0 15px 0;
    padding: 5px 0;
}

.search-box {
    border: 1px solid #ccc;
    float: left;
    display: block;
    padding: 3px;
    width: 70%;
}

.search-box-input {
    border: none;
    display: block;
    width:100%;
}

.search-result-count {
    float: right;
    margin-top: 5px;
}